<html>
    <body>
        <form method = "POST" action = "/">
            <h1>Make account</h1>
            <input type = "text" name = "name">
            <input type = "text" name = "val">
            <input type = "submit" value = "Add">
        </form>
        <form method = "POST" action = "./portfolio/update">
                <input type = "text" name = "name">
                <input type = "submit" value = "Continue">
        </form>
        <h1>Accounts</h1>
            {% for person in peoples %}
                <h1>{{person.name}}</h1>
                <p>{{person.val}}</p>
                <form method="POST" action="./delete" style="display: inline">
                    <input type="hidden" value="{{person.name}}" name="name">
                    <input type="submit" value="Delete">
                </form>
            {% endfor %}
    </body>
</html>