<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div name = "create">
            <h1>Make account</h1>
                <form method = "POST" action = "/">
                    <input type = "text" name = "name">
                    <input type = "text" name = "val">
                    <input type = "submit" value = "Add">
                </form>
        </div>

        <div name = "modify">
            <h1>Modify account</h1>
                <form method = "POST" action = "./portfolio/update">
                    <input type = "text" name = "name">
                    <input type = "submit" value = "Continue">
                </form>
        </div>

        <div name = "accounts">
            <h1>Accounts</h1>
                {% for person in peoples %}
                    <h4 style="display: inline">{{person.name}}</h4>
                    <p style="display: inline">{{person.val}}</p>
                    <form method="POST" action="./delete" style="display: inline">
                        <input type="hidden" value="{{person.name}}" name="name">
                        <input type="submit" value="Delete">
                    </form>
                    <p></p>
                {% endfor %}
        </div>

        <div name = "run">
        <h1>Run program</h1>
            <form method = "POST" action = "./run">
                <input type = "text" name = "name">
                <input type = "submit" value = "Submit">
            </form>
        </div>

        <!--<div name = "test">-->
        <!--<h1>Test face</h1>-->
            <!--<form method = "POST" action = "./rate">-->
                <!--<input type = "text" name = "name">-->
                <!--<input type = "submit" value = "Submit">-->
            <!--</form>-->
        <!--</div>-->
    </body>
</html>